body{
    background: linear-gradient(to bottom right, rgb(241, 104, 104), rgb(238, 238, 79)) no-repeat center center fixed;
    background-size: cover;    
}
#parentElement{
    position: relative;
}
canvas {
    border: 1px solid #d3d3d3;
    background-color: black;
}
.contentArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}

#restart {
    margin: auto;
    max-width: 150px;
    max-height: 50px;
    text-align: center;
    border-width:0;
    border-radius:7px;
    padding: 10px;
    font-size: larger;
    font-family: 'Uchen', serif;
    font-weight: bolder;
    background-color:rgb(255, 145, 1);   
    top:0;
    bottom:0; 
    left:0;
    right:0;
    position: absolute;
    width: 100%;
}
#restart:hover{
    background-color:rgb(243, 167, 67);
}


#startButton {
    width: 250px;
    text-align: center;
    border-width:0;
    border-radius:7px;
    padding: 10px;
    font-size: larger;
    font-family: 'Uchen', serif;
    font-weight: bolder;
    background-color:rgb(255, 145, 1);
    margin:3%;
}
#startButton:hover{
    background-color:rgb(243, 167, 67);
}

#homeButton{
    width: 250px;
    text-align: center;
    border-width:0;
    border-radius:7px;
    padding: 10px;
    font-size: larger;
    font-family: 'Uchen', serif;
    font-weight: bolder;
    background-color:rgb(255, 145, 1);
    margin:3%;
}

#homeButton:hover{
    background-color:rgb(243, 167, 67);
}

#highH2{
    display:none;
    font-family: 'Otomanopee One', sans-serif;
    color:orangered;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media(max-width:485px){
    #restart {
        margin: auto;
        max-width: 150px;
        max-height: 50px;
        text-align: center;
        border-width:0;
        border-radius:7px;
        padding: 10px;
        font-size: larger;
        font-family: 'Uchen', serif;
        font-weight: bolder;
        background-color:rgb(255, 145, 1);   
        top:0;
        bottom:0; 
        left:0;
        right:0;
        position: absolute;
        width: 100%;
    }
}
